<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.leonardpark.pixel">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

  <application>
    <activity
      android:name=".gallery.GalleryActivity"
      android:noHistory="true"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.Pixel.NoActionBar" />
    <activity
      android:name=".camera.CameraActivity"
      android:noHistory="true"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.Pixel.NoActionBar" />

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.leonardpark.pixel.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
  </application>

</manifest>